*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* utilities */


.vertical{
    vertical-align: middle;
}
.fl-r {
    float: right;
}

.fl-l { 
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}

.hidden{
    overflow: hidden;
}

.col-50{
    width: 50%;
}


.col-75{
    width: 72%;
}
.col-25{
    width: 25%;
}

.mrt05{
    margin-top: 0.5rem;
}
.mrt1{
    margin-top: 1rem;
}

.mrt2{
    margin-top: 2rem;
}

.mrt3{
    margin-top: 3rem;
}

.mrt5{
    margin-top: 5rem;
}

.mrl1{
    margin-left: 1rem;
}

.mrb1 {
    margin-bottom: 1rem;
}

.mrb2 {
    margin-bottom: 2rem;
}

.mrb5{
    margin-bottom: 5rem;
}

.iblock{
    display: inline-block;
}


.font15{
    font-size: 5em;
}











/* end utilities */


p{
    font-size: 1em;
}

.container {
    margin: auto;
}

header {
    min-width: 1080px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 1rem;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px #D0D0D0 solid;
    line-height: 3rem;
}

.hero {
    background-color: #B3D0E7;
}

.title{
    padding-top: 5rem;
}
.title h1 {
    font-size: 4.2rem;
}


section .container{
    width: 80%;
    
}

.btn{
    height: 30px;
    background-color: blue;
    padding: 5px 10px;
    color: white;
    font-style: normal;
    text-decoration: none;
}


.logo{
    margin: 0 1rem;
    display: inline-block;
    min-width: 130px;
}

.logo img {
    vertical-align: middle;
}

.menu {
    line-height: 60px;
}


.menu ul li {
    margin-right: 1em;
}

ul,
li,
nav{
    display: inline-block;
    padding: 0;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

.menu {
    min-width: 300px;
}
.col-75 img{
    object-fit: cover;
    width: 100%;
    height: auto;
    vertical-align: top;
    margin-bottom: -6em;
}


.dow a {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    font-size: .8em;
}

.dow .btn {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .8em;
    padding: 1em;

}

p img {
    margin-top: 1em;
    height: 3em;
}


main section {
    min-width: 350px;
    width: 70%;
    margin: auto;
}

main h1{
    margin: 9rem 0 0 1rem;
    font-size: 3em;
}

.check{
    margin: 3rem 1rem;
}
.radio {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 100px;
    margin-right: 0.5rem;
}

.click {
    border: 0.3rem #0061FF solid;
}

.noClick {
    border: 1px #d0d0d0 solid;
    margin-left: 1.5rem;
}



.column {
    border: .2em solid lightgrey;
    float: left;
    width: calc(33% - 40px);
    margin: 0 20px;
}

.column > p {
    vertical-align: middle;
    text-align: center;
    line-height: 2em;
    border-bottom: .2em solid lightgray;
}

.info{
    width: 90%;
    margin: auto;
}
.info h3{
    margin:1em 0; 
}

.info .inf {
    color: grey;
    font-weight: 100;
}

.info .price {
    font-weight: bold;
}

.price::after {
    content: '€';
}



/* icons */

.user i{
    margin-right: 1em;
}

.row {
    display: block;

}

.icon{
    width: 5%;
    float: left;
    margin-right: 1rem;
    vertical-align: middle;
    height: 100%;
}

.sentence {
    float: left;
    width: 80%;
    text-align: left;
}

.info .btn {
    text-overflow: ellipsis;
    
    text-align: center;
    display: block;
    margin: 2em auto 0 auto;
}

.info hr {
    display: block;
    margin: 2em 0;
    color: lightgrey;
    width: 25%;
}

.fa-check {
    color: #0061FF;
}

.colSec ul,
.colSec ul li {
    margin-top: 1em;
    text-align: left;
}

.colSec ul li:last-child {
    margin-bottom: 5em;
}


/* icon finish */

.bundle {
    margin-bottom: 3em;
}

.bigRow {
    margin-bottom: 4rem;
    border: .2em solid lightgrey;
    width: 96%;
    margin: 0 20px;
}

.bigRow div:first-child {
    text-align: center;
    padding: .5rem 0;
    border-bottom: .2em solid lightgrey;
}

.bigRow div:nth-child(2) {
    padding: 2em;
    width: 60%;

}



.bigRow div:nth-child(3) {
    font-size: large;
    text-align: center;
    padding: 2em;
    width: 40%;

}

.bigRow div:nth-child(3) .btn{
    padding: 7px 40px;
    vertical-align: middle;
    
}



.partner{
    width: 96%;
    margin: 4rem auto;
}

.sPartner {
    vertical-align: top;
    height: 100%;
    display: inline-block;
    width: 49.7%;
}

.sPartner img {
    width: 100%;
    object-fit: cover;
}

.textPartner{
    margin-left: 2rem;
}

.textPartner h3 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2em;
}

.textPartner .btn {
    border: 1px solid black;
    background-color: white;
    height: 30px;
    padding: 5px 10px;
    color: black;
    font-style: normal;
    text-decoration: none;
}

